 /* Estilos generales */
body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;

    color: black;
}

/* Modo oscuro */
body.dark-mode {
    background-color:black;
    color: white;
}

/* Fondo para elementos específicos en modo oscuro */
body.dark-mode .dark-container {
    background-color: black;
    color: white;

}

/* Fondo para elementos específicos en modo claro */
body .light-container {
    background-color: #f4f4f4;
    color: black;

    border-radius: 8px;
}

/* Asegurar que ciertos elementos no cambien */
body.dark-mode .no-change-color {
    color: black !important;
}

/* Estilos para el interruptor */
.switch {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 50px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}



body.dark-mode .hojacontainer {
    background-image: url('../assets/fondoutdark.jpeg') !important;
    background-size: cover !important;
    background-position: center !important;
}



body.dark-mode input {
    color: white; /* Color del texto en los inputs */
    background-color: #222; /* Fondo oscuro para los inputs */
}

body.dark-mode table th, body.dark-mode table td {
    border: 1px solid #920000; /* Borde de las celdas */
    color: white; /* Color del texto dentro de las celdas */
    background-color: #222; /* Fondo oscuro para las celdas */
}




body.dark-mode .classTable {
    background-color: #000000;
    color: white;
}

body.dark-mode .form-panel {
    background-color: #333;
    color: white;
    border: 1px solid #ff8000;
}

body.dark-mode .tutores-section {
    border-top: 1px solid #555;
}

body.dark-mode .tutor-container {
    background-color: #222;
    border: 1px solid #ff8000;

}

body.dark-mode .tutor-item {
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #ff8000;

    border-radius: 4px;
}

body.dark-mode h2, 
body.dark-mode h3 {
    color: white;
}